/* CSS declarations go here */

body { font-size: 12px; }

path { 
	stroke: steelblue;
	stroke-width: 2;
	fill: none;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;

}

body {
	background-color: #ffffff;
	font-family: Helvetica, Arial, sans-serif;
	padding: 10px;
}

rect {
	fill: #03cbbe;
}


/* Mine */
h1,h2,h3,h4,h5 {
	text-align: center;
	font-family: 'Montserrat', sans-serif !important;
}

#search-component {
	padding: 10px;
	border: 1px solid lightgray;
	border-radius: 5px;
	text-align: center;
	margin: 5px 0;
}

span {
	font-weight: bold;
}

.ranking-content {
	padding: 10px;
	border: 1px solid lightgray;
	border-radius: 5px;
	margin: 5px 0;
}

.history-content {
	margin: 80px 0;
}

.search-title {
	margin: 5px 0;
}

.subsec_title {
	margin: 30px 0;
}

#comment-row {
	margin: 30px;
	font-size: 15px;
}

#comment-row > span {
	margin: 0 10px;
}

input {
	width: 200px;
	height: 40px;
	padding: 10px;
	border: 1px solid lightgray;
	border-radius: 5px;
	font-size: 13px !important;
	margin-right: 10px !important;
}

button {
	width: 80px;
	background-color: #1da1f2;
	color: white;
	border: none;
	border-radius: 5px !important;
	font-size: 13px !important;
}

input, button {
	height: 40px;
}

#btnTwitter {
	width: 300px;
	height: 60px;
	font-size: 16px !important;
	margin-top: 30px;
}

#btnTwitter > i {
	margin-right: 10px;
}

.enter-content {
	height: 100vh;
	display: flex;
	align-items: center;
}

.mainTitle {
	font-size: 50px;
	font-family: 'Montserrat', sans-serif !important;
	text-align: center;
}

#search-content > .mainTitle {
	margin: 30px 0;
}
